/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    font-weight: 200 !important;
}

body {
    /* Better Font Rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment: fixed;
    font-family: 'Robotic', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* Portrait layout (default) */

.app {
    width: 100%;
    height: 100%;
}

#signin-form,
#signup-form {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

#nearbylogo {
    margin: 20px auto;
    display: block;
    width: 80%;
    height: auto;
}

.event-item {
    width: 100%;
    height: 120px;
    background-color: #DDD;
    border-bottom: 1px solid #BBB;
    position: relative;
}

#eventList {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: red;
}

#map-canvas {
    width: 100%;
    height: 95%;
    position: absolute;
}

#map-options {
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

.viewframe {
    display: none;
    height: 100%;
    width: 100%;
}

#set-bio-info {
    display: none;
}

button {
    height: 100px;
    width: 150px;
}


/* Landscape layout (with min-width) */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 0;
        /*padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin: 0;
        /* margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}


/*.display {
    padding-left: 240px;
}

.foot {
    padding-left: 240px;
}
*/

#signin-form > button {
    display: inline;
}

.section-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.event-info-row {
    margin: auto;
}

#profile-preview {
    display: none;
}

#add-friends-prompt {
    display: none;
}

.tagbox {
    margin-right: 20px;
    border: solid 1px black;
    border-radius: 5px
}

.friend-item,
.pending-friend-item {
    margin: 2px;
}

.card-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../iconfont/MaterialIcons-Regular.woff) format('woff'), url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.login-button {
    width: 200px;
    margin-bottom: 20px;
}

.card-image > img {
    height: auto;
    width: 100%;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.display-container {
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-padded {
    margin-bottom: 20px;
}

.grey-out {
    background-color: rgba(0, 0, 0, 0.8);
}

.grey-out > img {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
    max-height: 300px;
}

#event-title {
    background-color: black;
    position: absolute;
    margin-top: -50px;
    text-align: center;
    width: 100%;
}


/*fixing the icons in the side nav*/

#mobile-demo .material-icons {
    margin-right: 20px;
    margin-top: 10%;
}

#see-more {
    color: red;
    font-weight: 500;
    display: none;
}

#see-less {
    color: red;
    font-weight: 500;
    display: none;
}

#countdown {
    color: red;
    position: absolute;
    margin-top: -80px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
}
