/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    font-weight: 200 !important;
}

body {
    /* Better Font Rendering */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment: fixed;
    font-family: 'Robotic', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #f44336;
}

.input-field label {
    color: #000;
}


/* label focus color */

.input-field input[type=text]:focus + label {
    color: #000;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #f44336;
    background-color: #f44336;
}


/* Portrait layout (default) */

.app {
    width: 100%;
    height: 100%;
    margin-top: 20px !important;
}

#signin-form,
#signup-form {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

#nearbylogo {
    margin: 20px auto;
    display: block;
    width: 80%;
    height: auto;
}

.event-item {
    width: 100%;
    height: 120px;
    background-color: #DDD;
    border-bottom: 1px solid #BBB;
    position: relative;
}

#eventList {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: red;
}

#map-canvas {
    width: 100%;
    height: 95%;
    position: absolute;
}

#map-options {
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

#map-legend {
    background-color: rgb(240, 240, 240);
    padding: 4px;
}

.viewframe {
    display: none;
    height: 100%;
    width: 100%;
}

#set-bio-info {
    display: none;
}

button {
    height: 100px;
    width: 150px;
}


/* Landscape layout (with min-width) */

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 0;
        /*padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin: 0;
        /* margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}


/*.display {
    padding-left: 240px;
}

.foot {
    padding-left: 240px;
}
*/

#signin-form > button {
    display: inline;
}

.section-caption {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
}

.event-info-row {
    margin: auto;
}

#profile-preview {
    display: none;
}

#add-friends-prompt,
#invite-friends-prompt {
    display: none;
}


/* CSS Tag styling from http://cssglobe.com/pure-css3-post-tags*/

.tags div,
.tags a {
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 11px;
}

.tags a {
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #fff;
    text-decoration: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.tags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -11px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
}

.friend-item,
.pending-friend-item {
    margin: 2px;
}

.card-icon {
    margin-left: 5px;
    margin-right: 5px;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(../iconfont/MaterialIcons-Regular.woff) format('woff'), url(../iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.login-button {
    width: 200px;
    margin-bottom: 20px;
}

#signup-form a {
    width: 200px;
    margin-bottom: 20px;
}

.card-image > img {
    height: auto;
    width: 100%;
}

.card-title {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.display-container {
    padding-left: 20px;
    padding-right: 20px;
}

.bottom-padded {
    margin-bottom: 20px;
}

.grey-out {
    background-color: rgba(0, 0, 0, 0.8);
}

.grey-out > img {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.3;
    max-height: 300px;
}

#event-title {
    background-color: black;
    position: absolute;
    margin-top: -50px;
    text-align: center;
    width: 100%;
}

.user-buttons-row div {
    padding: 4px;
    font-size: 18px
}


/*fixing the icons in the side nav*/

#mobile-demo .material-icons {
    margin-right: 20px;
    margin-top: 10%;
}

#see-more {
    color: red;
    font-weight: 500;
    display: none;
}

#see-less {
    color: red;
    font-weight: 500;
    display: none;
}

#countdown {
    color: red;
    position: absolute;
    margin-top: -80px;
    right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.section-caption {
    margin: -5px;
}

.event-info-row div {
    margin-top: 5px;
}

.view-event .center {
    margin-top: 5px;
}

.side-nav {
    margin-top: 20px;
}

#search-trending {
    margin-top: 15px;
}

.dropdown-button {
    width: 120px;
    font-size: 22px;
}

<<<<<<< Updated upstream .card .card-image .card-title {
    padding: 5px;
}

#view-trending .card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px 15px 15px 15px;
}


/*[type="checkbox"].filled-in+label:before,*/

[type="checkbox"].filled-in+label:after {
    /* visibility: hidden;*/
}

.collapsible-body p {
    margin: 10px !important;
    padding: 0 !important;
}

.num-events {
    color: red;
}

.tags a.activism {
    background: #e53935;
}

.tags a.activism:before {
    border-color: transparent #e53935 transparent transparent;
}

.tags a.animals {
    background: #d81b60;
}

.tags a.animals:before {
    border-color: transparent #d81b60 transparent transparent;
}

.tags a.community {
    background: #8e24aa;
}

.tags a.community:before {
    border-color: transparent #8e24aa transparent transparent;
}

.tags a.competition {
    background: #5e35b1;
}

.tags a.competition:before {
    border-color: transparent #5e35b1 transparent transparent;
}

.tags a.culture {
    background: #3949ab;
}

.tags a.culture:before {
    border-color: transparent #3949ab transparent transparent;
}

.tags a.education {
    background: #1e88e5;
}

.tags a.education:before {
    border-color: transparent #1e88e5 transparent transparent;
}

.tags a.food {
    background: #039be5;
}

.tags a.food:before {
    border-color: transparent #039be5 transparent transparent;
}

.tags a.fashion {
    background: #00acc1;
}

.tags a.fashion:before {
    border-color: transparent #00acc1 transparent transparent;
}

.tags a.games {
    background: #00897b;
}

.tags a.games:before {
    border-color: transparent #00897b transparent transparent;
}

.tags a.health {
    background: #43a047;
}

.tags a.health:before {
    border-color: transparent #43a047 transparent transparent;
}

.tags a.lifestyle {
    background: #33691e;
}

.tags a.lifestyle:before {
    border-color: transparent #33691e transparent transparent;
}

.tags a.media {
    background: #c0ca33;
}

.tags a.media:before {
    border-color: transparent #c0ca33 transparent transparent;
}

.tags a.music {
    background: #fbc02d;
}

.tags a.music:before {
    border-color: transparent #fbc02d transparent transparent;
}

.tags a.sports {
    background: #ffa000;
}

.tags a.sports:before {
    border-color: transparent #ffa000 transparent transparent;
}

.tags a.talks {
    background: #ef6c00;
}

.tags a.talks:before {
    border-color: transparent #ef6c00 transparent transparent;
}

.tags a.tech {
    background: #f4511e;
}

.tags a.tech:before {
    border-color: transparent #f4511e transparent transparent;
}

.tags a.miscellaneous {
    background: #6d4c41;
}

.tags a.miscellaneous:before {
    border-color: transparent #6d4c41 transparent transparent;
}
